<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="~{common/fragments/config :: ConfigFragment}">
        <title>Title</title>
    </head>
    <body class="ecommerce">
        <div th:replace="~{common/fragments/header :: HeaderFragment}"></div>

        <th:block layout:fragment="Content"></th:block>

        <div th:replace="~{common/fragments/footer :: FooterFragment}"></div>
    </body>
</html>